body {
  background: skyblue;
  font-family: sans-serif;
  margin: 0 auto;
  width: 1000px;
}

header {
  background: cyan;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header h1 {
  order: 2;
  text-align: center;
}

.callout {
  border: 2px inset;
  width: 120px;
}

.callout--best {
  order: 1;
}

.callout--swell {
  order: 3;
}

.container {
  background: orange;
  display: flex;
}

aside,
main {
}

aside {
  width: 200px;
}

main {
  background: white;
  width: 600px;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.intro__content {
  flex-grow: 1;
}

main h2 {
}

figure {
}