<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="style.css" rel="stylesheet">
  <title>NoiseCo</title>
</head>
<body>
  <header>
    <div class="container">
      <h1>NoiseCo</h1>
      <ul>
        <li>Welcome, Jeffrey</li>
        <li>
          <a href="#">My Account</a>
        </li>
        <li>
          <a href="#">Log Out</a>
        </li>
      </ul>
    </div>
  </header>
  <nav>
    <div class="container">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Clients</a>
        </li>
        <li>
          <a href="#">Testimonials</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <%- yield %>
  <footer>
    <div class="container">
      <h2>NoiseCo</h2>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Clients</a>
          </li>
          <li>
            <a href="#">Testimonials</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
      <small>&copy; 2016 NoiseCo. All rights reversed.</small>
    </div>
  </footer>
</body>
</html>