<!doctype html>
<html>
<head>
  <title>Assignment 8</title>
  <link href="app.css" rel="stylesheet">
</head>
<body>
  <%- yield %>
  <script src="jquery-2.2.1.min.js"></script>
  <script src="javascripts/bootstrap.js"></script>
</body>
</html>