$navy: #002344;
$teal: #005275;
$skyblue: #77A2B5;

* {
  box-sizing: border-box;
}

%image-replace {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

html {
  background: $navy;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

a {
  text-decoration: none;
}

header {
  background: $teal;

  .container {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;    
  }

  h1 {
    @extend %image-replace;
    background: image-url('logo.png') no-repeat;
    height: image-height('logo.png');
    margin: 0;
    width: image-width('logo.png');
  }
}

.login {
  color: $navy;
  display: flex;
  font-size: 14px;

  a {
    border-left: 1px solid $navy;
    color: $skyblue;
    margin-left: 5px;
    padding-left: 5px;
  }
}

nav {
  background: $navy;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: $skyblue;
    display: block;
    line-height: 36px;
    padding: 0 20px;
  }
}

.hero {
  background: $skyblue image-url('hero.jpg') no-repeat 50%;
  height: 350px;
  padding-top: 220px;

  &__content {
    background: rgba(0, 0, 0, .25);    
    height: 130px;
  }

  .container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;    
  }

  h1 {
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    margin: 0;
    text-shadow: 0 0 20px #000;
  }

  strong {
    display: block;
  }

  a {
    background: linear-gradient(to bottom, $skyblue, $teal);
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .5), inset -1px -1px 1px rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 30px;
    padding: 10px 20px;
  }
}

.details {
  background: #ECE2C6;
  color: $navy;
  padding: 40px 0;

  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }

  li {
    background-repeat: no-repeat;
    margin-bottom: 30px;
    padding-left: 57px;

    &:last-child {
      margin: 0;
    }
  }

  h2 {
    margin: 0 0 5px;
  }

  p {
    margin: 0;
  }

  &__detail {
    &--agile {
      background-image: image-url('agile.png');
    }

    &--mobile {
      background-image: image-url('mobile.png');
    }

    &--cloud {
      background-image: image-url('cloud.png');
    }
  }
}

footer {
  background: $navy;

  .container {
    align-items: center;
    display: flex;
    height: 52px;
    justify-content: space-between;
  }

  h2 {
    @extend %image-replace;
    background: image-url('logo_small.png') no-repeat;
    height: image-height('logo_small.png');
    margin: 0;
    width: image-width('logo_small.png');
  }

  .footer__left {
    align-items: center;
    display: flex;
  }

  nav {
    font-size: 14px;
    margin-left: 30px;

    li:first-child a {
      border-left: none;
    }

    a {
      border-left: 1px solid #000;
      line-height: 1;
      padding: 0 10px;
    }
  }

  small {
    color: $skyblue;
  }
}

@media only screen and (max-width: 640px) {
  * {
    flex-direction: column;
  }
}