$navy: #002344;
$teal: #005275;
$skyblue: #77A2B5;

* {
  box-sizing: border-box;
}

%image-replace {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.container {
  margin: 0 auto;
  width: 960px;
}

a {
  text-decoration: none;
}

header {
  background: $teal;

  .container {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;    
  }

  h1 {
    @extend %image-replace;
    background: image-url('logo.png') no-repeat;
    height: image-height('logo.png');
    margin: 0;
    width: image-width('logo.png');
  }
}

.login {
  color: $navy;
  display: flex;
  font-size: 14px;

  a {
    border-left: 1px solid $navy;
    color: $skyblue;
    margin-left: 5px;
    padding-left: 5px;
  }
}

nav {
  background: $navy;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: $skyblue;
    display: block;
    line-height: 36px;
    padding: 0 20px;
  }
}

.hero {
  background: $skyblue image-url('hero.jpg') no-repeat 50%;
  height: 350px;
  padding-top: 220px;

  &__content {
    background: rgba(0, 0, 0, .25);    
    height: 130px;
  }

  h1 {
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    margin: 0;
    text-shadow: 0 0 20px #000;
  }

  strong {
    display: block;
  }
}

footer {
  background: $navy;

  .container {
    align-items: center;
    display: flex;
    height: 52px;
    justify-content: space-between;
  }

  h2 {
    @extend %image-replace;
    background: image-url('logo_small.png') no-repeat;
    height: image-height('logo_small.png');
    margin: 0;
    width: image-width('logo_small.png');
  }

  .footer__left {
    align-items: center;
    display: flex;
  }
}