<header>
  <h1>Hello!</h1>
  <h2>Welcome to my new site</h2>
  <nav>
    <ul>
      <li>Link</li>
    </ul>
  </nav>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-6">Column A!</div>
    <div class="col-md-6">Column B!</div>
  </div>
</div>
<button class="btn btn-primary">Click Me!</button>